@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1 {
	color: blue;
}
body {
	overflow-x: hidden;
	line-height: 1.5;
	color: #505962;
	font-family: 'Lato', sans-serif;
	height: 100%;
}
/*-----NAV------*/
.modal-backdrop{
	top: unset;
}
.navbar{
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover{
	color: #1ebba3;
}

.btn-success {
	background-color: #1ebba3 !important;
}



.navbar-brand img{
	height: 4rem;
}

#btn-login{
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
}

#btn-login:hover{
	color: #1ebba3;
}

button:active,
button:focus{
	border: none;
}
.nav-link{
	position: relative;
}
.notice{
	position: absolute;
	top: 2px;
	right: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	border-radius: 50%;
	font-size: 12px;
	text-align: center;
	display: inline-block;
	padding: 2px;
	background-color: #1ebba3;
	color: black;
	line-height: .6rem;
}

/*--------------*/
/*-----carousel---*/
.carousel-inner img{
	width: 100%;
	max-height: 300px;
}

.carousel{
	margin: 5px 0;
}

.img-right{
	width: 100%;
	padding: 5px 0;
	margin-bottom: 25px;
}
/*----------------*/
/*-----Footer-----*/
/*----------------*/
footer{
	/*position: absolute;
    bottom:0;*/

}
.menu-footer{
	list-style: none;
}

.menu-footer li a{
	text-decoration: none;
	color: white;
	margin-right: 10px;
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-weight:500;
}
 
.menu-footer li:hover a {
	color:#1ebba3;
	transition: .5s;
}

/* btn-delete-product */
.btn-delete:hover{
	color: red;
}

/* Hover product */
.inner{
    overflow: hidden;
}
 
.card img{
    transition: all 1.5s ease;
}
 
.card:hover img{
    transform: scale(1.2);
}

.card-text {
	color: #e10c00;
}

.card:hover h4{
	color: #1ebba3;
}

.product-rating{
	font-size: small;
	color: #ffc107

}

.card:hover{
	cursor: pointer;
}

#scroll-btn{
	display: none;
	position: fixed;
	right: 50px;
	bottom: 150px;
	z-index: 99;
	
}

#scroll-btn:hover i {
	color: black;
	transform: translateY(-3px);
	transition: .5s;
}

